* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.3rem;
  background-color: antiquewhite;
}

.header-menu {
  display: flex;
  align-items: center;
}
.header-menu img {
  width: 20px;
}
.header-menu p {
  margin: 0 1.5rem;
  cursor: pointer;
}
